  <div class="row">
    <div class="col-1 d-none d-md-block"></div>
    <div class="col-md-10 col-12 border border-light" style="--bs-border-opacity: .5;">

      <!--- DIVIDE BETWEEN TEXT AND PICTURE --->
      <div class="row">
        <div class="col-4">
          <h1><br><br><br><br>About Us</h1>
          <h4><br>Because we also love talking about games</h4>
        </div>
        <div class="col-8">
          <img src="<%= image_path('about/gaming.png') =%>" class="figure-img img-fluid rounded splash-art" alt="...">
        </div>
      </div>

      <!--- DIVIDE BETWEEN TEXT AND PICTURE --->
      <div class="row">
        <div class="col">
          <p><br><br>
          We commit into creating a social platform where players and hobbist of all kinds of games and fandom can share their ...
          </p>
        </div>
        <div class="col"></div>
      </div>

    </div>
    <div class="col-1 d-none d-md-block"></div>
  </div>
  
  </body>
  <!-- Footer -->
  <footer class="text-center text-lg-start bg-body-tertiary text-muted">
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: #A0153E;">
      © 2021 Copyright:
      <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a>

      <ul class="nav justify-content-center pb-3 mb-3">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">linkedin</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">myspace</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">9gag</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">don't click here</a></li>
      </ul>

    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</html>