  <div class="row">
    <div class="col-1 d-none d-md-block"></div>
    <div class="col-md-10 col-12 border border-light" style="--bs-border-opacity: .5;">

      <!--- DIVIDE BETWEEN TEXT AND PICTURE --->
      <div class="row">
        <div class="col">
          <h1><br><br>About Us</h1>
          <h4><br>Hola gente soy un texto de prueba!!!!!</h4>
        </div>
        <div class="col">
          <img src="<%= image_path('home/cat_crime.png') =%>" class="figure-img img-fluid rounded" alt="...">
        </div>
    </div>

    <p>YIPPIE</p>
    <div class="col-1 d-none d-md-block"></div>
  </div>
  
  </body>
</html>