      <div class="row">
      <div class="col-1 d-none d-md-block"></div>
      <div class="col-md-10 col-12 border border-light" style="--bs-border-opacity: .5;">
        <h1><br><br>Home Feed</h1>
        <div class="row">
          <div class="col"></div>
          <div class="col" style="min-width: 540px">

          <!--- Post 1 --->
            <div class="container text-center posts">
              <figure class="figure w-100">
                <a>[TheHatPerson #2046]</a>
                <figcaption class="figure-caption text-start fw-bold">Currently commiting CAT CRIMES :3</figcaption>
                <img src="<%= image_path('home/cat_crime.png') =%>" class="figure-img img-fluid rounded" alt="...">
              </figure>
            </div>

            <p></p>

            <!--- Post 2 --->
            <div class="container text-center posts">
              <figure class="figure w-100">
                <a>[RedMageAarn #3855]</a>
                <figcaption class="figure-caption text-start fw-bold">
                  Did you know?<br>In Skullgirls 2° Encore, you can make a longer, consistent back dash with Black Dahlia by presicely timing jLK, extending the air time in the last few frames.
                </figcaption>
                <img src="<%= image_path('home/back_dash_tech.jpg') =%>" class="figure-img img-fluid rounded" alt="...">
              </figure>
             </div>
            
            <p></p>
            
            <!--- Post 3 --->
            <div class="container text-center posts">
              <figure class="figure w-100">
                <a>[TheMemeGuy64 #1620]</a>
                <figcaption class="figure-caption text-start fw-bold"></figcaption>
                <img src="<%= image_path('home/cool_meme.jpeg') =%>" class="figure-img img-fluid rounded" alt="...">
              </figure>
             </div>
            
          </div>
          <div class="col"></div>
        </div>

      </div>
      <div class="col-1 d-none d-md-block"></div>
    </div>
  </body>
</html>